VITE_HEDERA_RPC_URL=https://testnet.hashio.io/api
VITE_HEDERA_MIRROR_NODE_URL=https://testnet.mirrornode.hedera.com
VITE_HEDERA_CHAIN_ID=0x128
VITE_HEDERA_NETWORK_NAME=Hedera Testnet
VITE_HEDERA_BLOCK_EXPLORER_URL=https://hashscan.io/testnet
VITE_IPFS_GATEWAY_URL=https://gateway.pinata.cloud
VITE_METADATA_UPLOAD_URL=http://localhost:3001/metadata/upload

VITE_AGENT_REGISTRY_ADDRESS=0xA94E50b71b8211D4f281778560d3359a68798fd1
VITE_REPUTATION_REGISTRY_ADDRESS=0xf753820da4681a2B5C78E3a229b8B6aC0e7C5262
VITE_VALIDATION_REGISTRY_ADDRESS=0x4D6f0ea66716eD3bA9cdB8da0CeE72343d7f7423
VITE_AGENT_NFT_ADDRESS=0xE9a2F8A8a838D6a8155a673FC160d4e83e10250F
VITE_STAKING_MANAGER_ADDRESS=0xfA6349bCcCB99A8e56b34357670f7Ae0B6445568
VITE_AUTHORIZATION_MANAGER_ADDRESS=0xC536DfdAbB01efC7b02F2a743D4160C4523f28f0

VITE_HEDERA_VALIDATION_TOPIC_ID=0.0.8322593
