VITE_HEDERA_RPC_URL=https://testnet.hashio.io/api
VITE_HEDERA_MIRROR_NODE_URL=https://testnet.mirrornode.hedera.com
VITE_HEDERA_CHAIN_ID=0x128
VITE_HEDERA_NETWORK_NAME=Hedera Testnet
VITE_HEDERA_BLOCK_EXPLORER_URL=https://hashscan.io/testnet
VITE_IPFS_GATEWAY_URL=https://your-pinata-gateway.mypinata.cloud
VITE_METADATA_UPLOAD_URL=/metadata/upload
VITE_AGENT_REGISTRY_ADDRESS=0x7Ad74e0447E531b1b7CA3A0bBfe46f956e939BCB
VITE_REPUTATION_REGISTRY_ADDRESS=0x9efbf8cD6dC6F1b929f206197506Cc4bec93E845
VITE_VALIDATION_REGISTRY_ADDRESS=0x0000000000000000000000000000000000000000
VITE_STAKING_MANAGER_ADDRESS=0x0000000000000000000000000000000000000000
VITE_HEDERA_VALIDATION_TOPIC_ID=0.0.0

VITE_AUTHORIZATION_MANAGER_ADDRESS=0x0000000000000000000000000000000000000000
